body{
    height: fit-content;
    width: fit-content; 
}

.heading{
    background-color: rgb(221, 221, 221);
    padding-top: 30px;
    padding-bottom: 10px;
}

.logo{
    margin:0px 80px 2px 80px;
}

.brandname{
    text-align: center;
    font-size: 25px;
}

.namelettering{
    margin: 0;
    font-family: 'Chango', cursive;
}
.bluecolor {
    color: rgb(115,212,245);
    font-size: 30px;
    text-shadow: 2px 2px 4px #457f93;
    padding-right: 1px;
}

.pinkcolor {
    color: rgb(245,119,151);
}

/* rgb(251,203,171) */
/* rgb(251,172,132) */
/* rgb(204,124,76) */
.btn {
    font-size: 1em;
    line-height: 1em;
    letter-spacing: 0.04em;
    display: inline-block;
    background-color: black;
}
.btn--svg {
    position: relative;
    height: 42px;
    width: 190px;
    overflow: hidden;
    border-radius: 21px;
}
.btn--svg:hover .btn--svg__circle circle {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    background-color: white;
} 
.btn--svg:hover .btn--svg__label {
    color: rgb(115,212,245);
}
.btn--svg:hover .btn--svg__border--left path, .btn--svg:hover .btn--svg__border--right path {
    stroke-dasharray: 61.8204345703 61.8204345703;
    stroke-dashoffset: 0;
    -webkit-transition-delay: 0.25s;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-property: stroke-dashoffset;
    -moz-transition-delay: 0.25s;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-property: stroke-dashoffset;
    -ms-transition-delay: 0.25s;
    -ms-transition-duration: 0.5s;
    -ms-transition-timing-function: ease-in-out;
    -ms-transition-property: stroke-dashoffset;
    transition-delay: 0.25s;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-property: stroke-dashoffset;
}
.btn--svg__label {
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: white;
    z-index: 3;
    width: 100%;
    -webkit-transition: color 0.5s ease-in-out;
    -moz-transition: color 0.5s ease-in-out;
    -ms-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
}
.btn--svg__circle circle {
    -webkit-transition: transform 0.5s ease-in-out;
    -webkit-transform: scale(1.1);
    -webkit-transform-origin: 50% 50%;
    -moz-transition: transform 0.5s ease-in-out;
    -moz-transform: scale(1.1);
    -moz-transform-origin: 50% 50%;
    -ms-transition: transform 0.5s ease-in-out;
    -ms-transform: scale(1.1);
    -ms-transform-origin: 50% 50%;
    transition: transform 0.5s ease-in-out;
    transform: scale(1.1);
    transform-origin: 50% 50%;
}
.btn--svg__border--left path, .btn--svg__border--right path {
    stroke-dasharray: 61.8204345703 61.8204345703;
    -webkit-transition-duration: 0s;
    -webkit-transition-timing-function: ease-in-out;
    -webkit-transition-property: stroke-dashoffset;
    -webkit-transition-delay: 0.5s;
    -moz-transition-duration: 0s;
    -moz-transition-timing-function: ease-in-out;
    -moz-transition-property: stroke-dashoffset;
    -moz-transition-delay: 0.5s;
    -ms-transition-duration: 0s;
    -ms-transition-timing-function: ease-in-out;
    -ms-transition-property: stroke-dashoffset;
    -ms-transition-delay: 0.5s;
    transition-duration: 0s;
    transition-timing-function: ease-in-out;
    transition-property: stroke-dashoffset;
    transition-delay: 0.5s;
}
.btn--svg__border--left path {
    stroke-dashoffset: -61.8204345703;
}
.btn--svg__border--right path {
    stroke-dashoffset: 61.8204345703;
}
.btn--svg svg, .btn--svg__label {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -webkit-transform-origin: 50% 50%;
    -moz-transform: translate(-50%, -50%);
    -moz-transform-origin: 50% 50%;
    -ms-transform: translate(-50%, -50%);
    -ms-transform-origin: 50% 50%;
    transform: translate(-50%, -50%);
    transform-origin: 50% 50%;
}
.c-white {
    color: yellow;
}
.trailer {
    margin-bottom: 40px;
}
.trailer--nano {
    margin-bottom: 10px;
}
a {
    position: relative;
    text-decoration: none;
    color: red;
}
a:after {
    content: '';
    height: 1px;
    bottom: -4px;
    position: absolute;
    left: 5%;
    right: 95%;
    background: red;
    transition: right 0.25s ease-in-out;
}
a:hover:after {
    right: 5%;
}
.teasing-1, .heading-2 {
    font-family: sans-serif;
    letter-spacing: 0.04em;
    -webkit-font-smoothing: antialiased;
}
.teasing-1 {
    font-size: 14px;
    line-height: 14px;
}
.heading-2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
}

a span{
    cursor: pointer;
}